name: compare-check
on: push
jobs:
    check:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: actions/setup-node@v4
              with:
                cache: npm
            - run: make setup
            - run: make test
            - name: Test & publish code coverage
              uses: paambaati/codeclimate-action@v5.0.0
              env:
               CC_TEST_REPORTER_ID: ${{ secrets.CC_TEST_REPORTER_ID }}
              with:
               coverageCommand: make test-coverage
               debug: true
            - run: make lint 
